.main {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
    width: 80vw;
    height: 80vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.left, .right {
    width: calc(calc(100% - 22.5em) / 2);
    height: 100%;
}

.center {
    width: 22.5em;
    height: 100%;
    background: rgb(255,217,0);
    background: linear-gradient(318deg, rgba(255,217,0,1) 0%, rgba(255,0,0,1) 100%);
}

.circle {
    --dimensions: 5rem;
    width: var(--dimensions);
    height: var(--dimensions);
    border-radius: 50%;
    background: rgb(255,217,0);
    background: linear-gradient(145deg, rgba(255,217,0,1) 0%, rgba(255,0,0,1) 100%);
    position: relative;
    top: 25%;
    left: 30%;
    margin: 0px;
}